<footer class="mt-5 pb-5 mr-5 ml-5">
    <div class="row pt-3 pb-3">
        <img src="{{ asset('build/logo_ecriture.png') }}" class="col-3">
    </div>
    <p class="col-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo
        sagittis</p>
    <p class="col-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
        sapien dui
        mattis dui, non pulvinar lorem felis nec erat Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
        maximus,</p>
    <hr>
    <div class="row pt-3 pb-3">
        <div class="col-3">
            <h4>Nous situer</h4>
            <p>LAB'O Village by CA<br>
                1 Avenue du Champ de Mars<br>
                45074 ORLÉANS<br>
                CEDEX 02</p>
            <p>02 38 69 82 76</p>
        </div>
        <div class="col-3">
            <h4>A propos de FEDMIND</h4>
            <p>Politique de confidentialité<br>
                Nous recrutons<br>
                Contact<br>
            </p>
        </div>
        <div class="col-3">
            <h4>Pour la presse</h4>
            <p>Kit média<br>
                Dossier de presse<br>
                Nos communiqués de presse<br>
                Ils parlent de nous<br>
            </p>
        </div>
        <div class="col-3">
            <h4>Nous suivre</h4>
            <img src="https://via.placeholder.com/30x30" alt="logo facebook">
            <img src="https://via.placeholder.com/30x30" alt="logo twitter">
            <img src="https://via.placeholder.com/30x30" alt="logo youtube">
        </div>
    </div>
</footer>