@import "~bootstrap/scss/bootstrap";
@import "vars";

body {
    background-color: $bg-color;
    margin: 0;
    padding: 0;
}

.image {
    width: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    height: 70vh;
}

.nav-item {
    margin-left: 50px;
}

.method {
    margin: 5vh 0 5vh 0;

    .container-div {
        height: 150px;

        .row-div {
            max-height: 5vh;
        }

        .colored-square {
            position: absolute;
            background-color: $primary-color;
            width: 400px;
            height: 150px;
            opacity: 0.6;
        }
    }
}

.method-complete {
    margin-top: 5vh;
    margin-bottom: 5vh;

    .logo {
        border-radius: 50%;
    }
}

.obegital-introduction {
    .box1 {
        width: 100px;

        p {
            font-size: 0.8em;
        }

        .logo {
            border-radius: 50%;
            max-width: 100px;
        }
    }
}