@import "~bootstrap/scss/bootstrap";
@import "vars";

body {
    background-color: white;
}

.image {
    width: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    height: 70vh;
}

.nav-item {
    margin-left: 50px;
}

.method {
    margin-top: 5vh;
    .colored-square {
        position: absolute;
        margin-left: 210px;
        width: 400px;
        height: 150px;
        background-color: #0c5460;
        opacity: 0.6;
    }
    .method-title {
        z-index: 2;
        text-align: center;
        margin-top: 5vh;
        margin-left: 150px;
    }
    .method-text {
        z-index: 4;
        max-width: 500px;
        margin-top: 15px;
    }
    button {
        z-index: 1;
        position: absolute;
        text-align: center;
        margin-top: 15vh;
        margin-left: 250px;
    }
}