@import "~bootstrap/scss/bootstrap";
@import "vars";

@mixin p {
    font-size: 0.8em;
}


body {
    background-color: $bg-color;
    margin: 0;
    padding: 0;
}

.image {
    width: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    height: 70vh;
}

// ---------------- NAVBAR -----------------//

.navbar {
    .navbar-brand {
        img {
            max-width: 130px;
        }
    }
}

.nav-item {
    margin-left: 50px;
}

// --------------- /END NAVBAR ------------------//

.method {
    margin: 5vh 0 5vh 0;

    .container-div {
        height: 150px;

        .row-div {
            max-height: 5vh;
        }

        .colored-square {
            position: absolute;
            background-color: $primary-color;
            width: 400px;
            height: 150px;
            opacity: 0.6;
        }
    }
}

.method-complete {
    margin-top: 5vh;
    margin-bottom: 5vh;

    .logo {
        border-radius: 50%;
    }
}

.obegital-introduction {
    background-color: $secondary-bg-color;
    .box1 {
        width: 100px;
        @include p();
        .logo {
            border-radius: 50%;
            max-width: 100px;
        }
    }
}

.introduction-obegital-pro {
    span {
        font-weight: bold;
    }
}

/* PAGE METHOD */

.colored-square {
    position: absolute;
    background-color: $primary-color;
    width: 400px;
    height: 150px;
    opacity: 0.6;
}

.card-solution {
    background-color: $secondary-bg-color;
    padding: 25px;
    @include p();
}

.testimony {
    background-color: $secondary-bg-color;
    padding: 30px;
}

.method-program {
    background-color: $secondary-bg-color;
}

footer {
    p {
        @include p();
    }
    background-color: $secondary-bg-color;
}

/* HEALTH DIRECTORY */

.health-directory {
    margin: 5vh 0 5vh 0;

    .container-div {
        height: 200px;
        h2 {
            font-size: 1.7rem;
            margin-left: 15px;
        }

        p {
            @include p();
            margin-top: 15px;
        }

        .row-div {
            max-height: 5vh;
        }

        .colored-square {
            position: absolute;
            background-color: $primary-color;
            width: 400px;
            height: 200px;
            opacity: 0.6;
        }
    }
}