{% extends 'base.html.twig' %}

{% block title %}Annuaire santé{% endblock %}

{% block body %}
    {% include '_banner.html.twig' %}
    {% include '_navbar.html.twig' %}
    <section class="health-directory row justify-content-center">
        <div class="container-div row col-lg-7 col-md-9 col-sm-10">
            <div class="colored-square col-lg-8 col-md-8 col-sm-8"></div>
            <h2 class="col-lg-4 col-md-5 col-sm-5 align-self-center">Lorem ipsum dolor sit consectetur adipiscing</h2>
            <p class="col-lg-6 col-md-6 col-sm-6">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien
                dui mattis dui, non pulvinar lorem felis nec erat. Aliquam egestas, velit at condimentum placerat, sem
                sapien laoreet mauris, dictum porttitor lacus est nec enim. Vivamus feugiat elit lorem, eu porttitor
                ante ultrices id. Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec.</p>
        </div>
    </section>
    <section class="container mb-5">
        <h2 class="text-center mt-5 mb-5">Ils nous font confiance</h2>
        <table class="table table text-center table-striped">
            <thead>
            <tr class="table-secondary">
                <td>Nom & Prénom</td>
                <td>Fonction</td>
                <td>Adresse</td>
                <td>Téléphone</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Lorem Ipsum</td>
                <td>Médecin généraliste</td>
                <td>1 Avenue du Champ de Mars 45000 ORLEANS</td>
                <td>02 38 00 00 00</td>
            </tr>
            <tr>
                <td>Lorem Ipsum</td>
                <td>Psychologue</td>
                <td>1 Avenue du Champ de Mars 45000 ORLEANS</td>
                <td>02 38 00 00 00</td>
            </tr>
            <tr>
                <td>Lorem Ipsum</td>
                <td>Podologue</td>
                <td>1 Avenue du Champ de Mars 45000 ORLEANS</td>
                <td>02 38 00 00 00</td>
            </tr>
            </tbody>
        </table>
    </section>
    {% include '_footer.html.twig' %}
{% endblock %}
