{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <header>
        {% include '_navbar.html.twig' %}
        {% include '_banner.html.twig' %}
        <div class="container">
            <nav class="nav-whoarewe row justify-content-around">
                <a href="{{ path('who_are_we') }}#histoire">L'histoire de FEDMIND</a>
                <a href="{{ path('who_are_we') }}#valeurs">Les valeurs de FEDMIND</a>
                <a href="{{ path('who_are_we') }}#grosse">GROSSE et grossophobie</a>
                <a href="{{ path('who_are_we') }}#obesesanonymes">Obèses Anonymes</a>
            </nav>
        </div>
    </header>
    <section>
        <h2 class="text-center mt-5 mb-5">L'histoire de FEDMIND</h2>
    </section>
{% endblock %}
