{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <header>
        {% include '_navbar.html.twig' %}
        {% include '_banner.html.twig' %}
        <div class="container">
            <nav class="nav-whoarewe row justify-content-around">
                <a href="{{ path('who_are_we') }}#histoire">L'histoire de FEDMIND</a>
                <a href="{{ path('who_are_we') }}#valeurs">Les valeurs de FEDMIND</a>
                <a href="{{ path('who_are_we') }}#grosse">GROSSE et grossophobie</a>
                <a href="{{ path('who_are_we') }}#obesesanonymes">Obèses Anonymes</a>
            </nav>
        </div>
    </header>
    <section>
        <h2 class="text-center mt-5 mb-5">L'histoire de FEDMIND</h2>
        <div class="row justify-content-center">
            <div class="col-8 history-container">
                <div class="row justify-content-center">
                    <img src="https://via.placeholder.com/250" alt="placeholder" class="mt-5 mb-5 col-3">
                </div>
                <p class="text-center">Maïwen Janovet, fondatrice de FEDMIND</p>
                <p class="text-center">Faites des rêves assez grands pour ne pas le perdre de vue lorsque vous courrez
                    derrière. </p>
                <p>« Ancienne obèse, j’ai connu la plus grande partie de ma vie les moqueries, les regards en coin, la
                    souffrance, le manque de confiance en moi. Lorsque j’ai atteint les 130 kilos pour 1m62, ma santé a
                    commencé à décliner. Mon moral était au plus bas, je ne sortais plus, je ne vivais plus.
                    <br>
                    <br>
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample">
                        Button with data-target
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    J’avais pourtant tout essayé ; tous les régimes, toutes les méthodes des plus classiques aux
                    plus
                    farfelues : pilules minceur, sport en tout genre, crèmes, substituts de repas, s’entourer de
                    cellophane, etc. Tous les spécialistes me disaient la même chose : « Il n’y a pas de miracles,
                    il
                    faut manger moins, mieux, et faire du sport ! ». Ce sont de bons conseils, mais ils ne traitent
                    que
                    les conséquences de l’obésité, en oubliant totalement les aspects psychosociaux. J’avais besoin
                    d’aide, de soutien, de MOTIVATION ! Toutes les « méthodes » qui existaient n’incluaient pas ce
                    soutien mental. Alors j’ai décidé de travailler sur moi. Je me suis intéressée à la psychologie,
                    aux
                    thérapies, aux traitements des addictions alimentaires, au développement personnel. J’ai dévoré
                    des
                    centaines d’études scientifiques, d’ouvrages, de reportages, de conférences.
                    <br>
                    <br>
                    Petit à petit, avec tous les outils que je trouvais intéressants, j’ai travaillé sur moi pour
                    les
                    appliquer à mon cas particulier. Rapidement, j’ai vu les premiers changements. D’abord dans ma
                    tête.
                    Je reprenais confiance en moi, j’apprenais à m’affirmer, à gérer mes émotions… Autant de points
                    négligés dans les approches « minceur » classiques qui font souvent beaucoup de dégâts.
                    L’alimentation et le sport sont très importants oui, mais ils soignent les maux et préviennent
                    la
                    rechute, mais cela n’agit pas sur les CAUSES du surpoids. Et c’est pourtant là que tout se joue
                    !
                    <br>
                    <br>
                    À l’issue de mes travaux de recherche, j’ai décidé de créer l’association « Obèses Anonymes ».
                    Un
                    groupe de parole pour les personnes qui se vivent en surpoids. Un lieu où chacun peut venir
                    s’exprimer sur les difficultés qu’il rencontre et échanger. Un lieu de bienveillance et de
                    partage.
                    Avec les différents groupes que j’ai accompagné durant les 8 dernières années, j’ai pu continuer
                    de
                    faire évoluer les thèmes à ne pas négliger et les points clé à travailler pour effectuer de
                    vrais
                    changements dans sa vie mais surtout pour apprendre à s’aimer, qui est la base de la guérison.
                    La
                    méthode FEDMIND était née !
                    <br>
                    <br>
                    Très vite les demandes pour rejoindre le groupe de parole se sont multipliées. Beaucoup de
                    personnes
                    me faisaient part de leur volonté de travailler sur les aspects psychologiques de la pathologie.
                    Spécialisée dans la création d’outils innovants grâce à ma formation initiale, c’est donc tout
                    naturellement que l’idée d’une plateforme digitale d’éducation thérapeutique a fait son chemin.
                    J’ai
                    par la suite intégré le D.I.U. troubles du comportement alimentaire pour me perfectionner et
                    appréhender du point de vue de la science et des professionnels de santé le problème. Avec la
                    rédaction d’un mémoire supervisé par la faculté de médecine de Nantes sur la prise en charge des
                    troubles hyperphagiques et leurs conséquences (obésité).
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2 class="text-center mt-5 mb-5">Les valeurs de FEDMIND</h2>
        <div class="row justify-content-center">
            <div class="col-8 history-container">
                <div class="row justify-content-center mt-4 mb-4">
                    <p class="col-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut
                        commodo sagittis,
                        sapien dui mattis dui, non pulvinar lorem felis nec erat</p>
                </div>
                <div class="row justify-content-around mt-4 mb-4">
                    <h3 class="col-2 align-self-center">L'humain</h3>
                    <h3 class="col-3">L'amélioration de la qualité de vie</h3>
                </div>
                <div class="row justify-content-around mb-4">
                    <div class="col-4 value p-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus,
                        nulla ut commodo sagittis,
                        sapien dui mattis dui, non pulvinar lorem felis nec erat Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar
                        lorem felis nec erat. Aliquam egestas, velit at condimentum placerat, sem sapien laoreet mauris,
                        dictum porttitor lacus est nec enim. Vivamus feugiat elit
                    </div>
                    <div class="col-4 value p-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus,
                        nulla ut commodo sagittis,
                        sapien dui mattis dui, non pulvinar lorem felis nec erat Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar
                        lorem felis nec erat. Aliquam egestas, velit at condimentum placerat, sem sapien laoreet mauris,
                        dictum porttitor lacus est nec enim. Vivamus feugiat elit
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2 class="text-center mt-5 mb-5">GROSSE et la grossophobie</h2>
        <div class="row justify-content-center">
            <p class="col-9 mb-4">À la fin du mois de décembre 2018, leur engagement contre la grossophobie est marqué
                par la
                sortie du
                moyen-métrage « Grosse », produit par FEDMIND et réalisé par Maxime Ginolin, réalisateur engagé. Depuis
                sa
                sortie, le film a cumulé plus d’un million de vues sur YouTube ; mais a également était relayé dans la
                presse (Cosmopolitan, La République du Centre, Flair, Brut) et a reçu énormément de critiques
                positives.</p>
        </div>
        <div class="row justify-content-center">
            <iframe width="750" height="470" src="https://www.youtube.com/embed/pR3lqr7_KBY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <div class="row justify-content-center">
            <p class="col-9 mt-5">« Une jeune femme souffrant de surpoids depuis son enfance vit une journée ordinaire
                dans la peau d’une
                obèse. Moqueries, préjugés, discrimination, conseils faciles, incompréhension sont son lot quotidien.
                Mais
                aujourd’hui est une journée particulièrement difficile … Comment trouvera-t-elle la force d’aller contre
                les
                préjugés ? »</p>
        </div>
        <div class="row justify-content-center">
            <p class="col-9">
                Avec « Grosse », FEDMIND a pour objectif de porter le film très loin. En plus de proposer à tout
                institution
                le souhaitant une présentation pédagogique du film, nous souhaitons également procéder à des diffusions
                dans
                les établissements de santé, dans les établissements scolaires ainsi que promouvoir le film à
                l’étranger. Le
                potentiel humain et psychologique émanant de « Grosse », nous voulons propager un vent de tolérance et
                de
                respect afin d’abattre un par un les stéréotypes liés aux personnes en situation d’obésité ; et ainsi
                favoriser l’acceptation et le non-jugement des différences physiques. 
            </p>
        </div>
        <div class="row justify-content-center">
            <p class="col-9">
                Si vous souhaitez mettre en place une présentation pédagogique du film dans votre établissement ; ou si
                vous
                souhaitez plus d’informations concernant cette dernière, n’hésitez pas à nous contacter grâce au
                formulaire
                de contact ci-dessous.
            </p>
        </div>
        <div class="row justify-content-center">
            <button class="text-center">Contactez-nous</button>
        </div>
    </section>
{% endblock %}
