{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <header>
        {% include '_navbar.html.twig' %}
        {% include '_banner.html.twig' %}
        <div class="container">
            <nav class="nav-whoarewe row justify-content-around">
                <a href="{{ path('who_are_we') }}#histoire">L'histoire de FEDMIND</a>
                <a href="{{ path('who_are_we') }}#valeurs">Les valeurs de FEDMIND</a>
                <a href="{{ path('who_are_we') }}#grosse">GROSSE et grossophobie</a>
                <a href="{{ path('who_are_we') }}#obesesanonymes">Obèses Anonymes</a>
            </nav>
        </div>
    </header>
    <section>
        <h2 class="text-center mt-5 mb-5">L'histoire de FEDMIND</h2>
        <div class="row justify-content-center">
            <div class="col-10 history-container">
                <div class="row justify-content-center">
                    <img src="https://via.placeholder.com/250" class="mt-5 mb-5 col-3">
                </div>
                <p class="text-center">Maïwen Janovet, fondatrice de FEDMIND</p>
                <p class="text-center">Faites des rêves assez grands pour ne pas le perdre de vue lorsque vous courrez derrière. </p>
            </div>
        </div>
        </div>
    </section>
{% endblock %}
