{% extends 'base.html.twig' %}

{% block title %}FEDMIND{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">FEDMIND</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">La méthode<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nos engagements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">OBEGITAL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Annuaire Santé</a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="banner">
        <div>
            <img src="{{ asset('build/presentation-obegital.jpg') }}" alt="telephone obegital methode presentation"
                 class="image">
        </div>
    </section>
    <section class="method row justify-content-center mt-5 mb-5">
        <div class="container-div row col-lg-7 col-md-9 col-sm-10">
            <div class="colored-square col-lg-8 col-md-8 col-sm-8"></div>
            <h2 class="col-lg-5 col-md-5 col-sm-5 align-self-center">La Méthode</h2>
            <p class="col-lg-6 col-md-6 col-sm-6 align-self-center">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Nulla in fermentum tortor. Integer urna dui,
                tristique et ultrices vel, rhoncus nec augue.</p>
        </div>
    </section>
    <hr>
    <section class="container method-complete mt-5 mb-5">
        <div class="row justify-content-around">
            <div class="col-2">
                <img src="https://via.placeholder.com/150C" alt="logo" class="logo">
                <h3 class="text-center mt-4 mb-4">Médicale</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
                    sapien dui mattis dui, non pulvinar lorem felis nec erat</p>
            </div>
            <div class="col-2">
                <img src="https://via.placeholder.com/150C" alt="logo" class="logo">
                <h3 class="text-center mt-4 mb-4">Complète</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
                    sapien dui mattis dui, non pulvinar lorem felis nec erat</p>
            </div>
            <div class="col-2">
                <img src="https://via.placeholder.com/150C" alt="logo" class="logo">
                <h3 class="text-center mt-4 mb-4">Scientifique</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
                    sapien dui mattis dui, non pulvinar lorem felis nec erat</p>
            </div>
            <div class="col-2">
                <img src="https://via.placeholder.com/150C" alt="logo" class="logo">
                <h3 class="text-center mt-4 mb-4">Engagée</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
                    sapien dui mattis dui, non pulvinar lorem felis nec erat</p>
            </div>
        </div>
    </section>
    <section class="pt-4 pb-5 obegital-introduction">
        <div class="container">
            <h2 class="text-center mb-4">OBEGITAL</h2>
            <div class="row justify-content-center">
                <div class="box1 col-2">
                    <div class="row justify-content-center">
                        <img src="https://via.placeholder.com/70" alt="logo" class="logo">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo
                            sagittis</p>
                    </div>
                    <div class="row justify-content-center">
                        <img src="https://via.placeholder.com/70" alt="logo" class="logo">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo
                            sagittis</p>
                    </div>
                    <div class="row justify-content-center">
                        <img src="https://via.placeholder.com/70" alt="logo" class="logo">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo
                            sagittis</p>
                    </div>
                </div>
                <img src="https://via.placeholder.com/250x500" alt="téléphone" class="col-3 offset-1 phone">
                <div class="box1 col-2 offset-1">
                    <div class="row justify-content-center">
                        <img src="https://via.placeholder.com/70" alt="logo" class="logo">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo
                            sagittis</p>
                    </div>
                    <div class="row justify-content-center">
                        <img src="https://via.placeholder.com/70" alt="logo" class="logo">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo
                            sagittis</p>
                    </div>
                    <div class="row justify-content-center">
                        <img src="https://via.placeholder.com/70" alt="logo" class="logo">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo
                            sagittis</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <p class="mt-5 col-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut
                    commodo sagittis, sapien dui
                    mattis dui, non pulvinar lorem felis nec erat Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                    Nunc
                    maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat.
                    Aliquam
                    egestas, velit at condimentum placerat, sem sapien laoreet mauris, dictum porttitor lacus est nec
                    enim.
                    Vivamus feugiat elit lorem, eu porttitor ante ultrices id</p>
            </div>
        </div>
        <div class="introduction-obegital-pro">
            <h2 class="text-center mb-5 mt-4">OBEGITAL <span>PRO</span></h2>
            <div class="row justify-content-center">
                <img src="https://via.placeholder.com/600x400" alt="téléphone" class="col-5">
                <p class="col-5 align-self-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
                    sapien dui mattis dui, non pulvinar lorem feli<br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
                    sapien dui mattis dui, non pulvinar lorem feli<br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
                    sapien dui mattis dui, non pulvinar lorem feli<br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
                    sapien dui mattis dui, non pulvinar lorem feli<br><br>
                </p>
            </div>
        </div>
    </section>
    <section>

    </section>
{% endblock %}
